/* Add your own CSS rules here */
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-size: 15pt;
}

g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}
